html{
  box-sizing: border-box;
  scroll-behavior: smooth;
  
}
*,
*::before,
*::after{
  box-sizing: inherit;
}



a{
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
}
ul,
li{
  margin: 0;
  padding: 0;
  list-style: none;
}
body{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  overflow-x: hidden; 
  padding: 0;
  margin: 0;
}

.container{
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-fluid{
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}
@media(max-width: 720px){
  .container-fluid{
      padding: 0 15px;
    }
}

button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}

.title{
  font-size: 30px;
  color: #24242c;
  text-transform: uppercase;
  margin-bottom: 60px;
  position: relative;
  font-weight: 400;
  &:after {
    content: "";
    position: absolute;
    height: 5px;
    width: 100px;
    background-color: #ffcc00;
    border-radius: 2px;
    top: 130%;
    left: 0;
    right: 0;
  }
}

.button-body {
  text-align: center;

  .button-body:before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }
  button {
    margin-top: 30px;
    background: #fff;
    color: #ffcc00;
    border: 0.5px solid #ffcc00;
    position: relative;
    height: 60px;
    font-size: 1.6em;
    padding: 0 2em;
    cursor: pointer;
    transition: 1000ms ease all;
    outline: none;
  }
  button:hover {
    background: #ffcc00;
    color: #fff;
  }
  button:before,
  button:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #ffcc00;
    transition: 400ms ease all;
  }
  button:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
  }
  button:hover:before,
  button:hover:after {
    width: 100%;
    transition: 800ms ease all;
  }
}

.scrollup{
  width:40px;
  height:40px;
  opacity:0.5;
  position:fixed;
  bottom:20px;
  right:100px;
  display:none;
  text-indent:-9999px;
  background: url('../images/icon_top.png') no-repeat;
  }
